In [186]:
import pandas as pd

In [187]:
df = pd.read_csv('Stadims_arenas.csv')

In [188]:
df.head()

,ATM Address,Town,Postal Code,Name
0,"26 Lynnwood Rd, Arcadia, Pretoria, 0007, South...",Pretoria,[' 0007'],Loftus
1,"471 Grosvenor St, Hatfield, Pretoria, 0028, So...",Pretoria,[' 0028'],Hatfield
2,"130 Maltzan St, Pretoria West, Pretoria, 0001,...",Pretoria,[' 0001'],Pilditch
3,"Cnr Maunde &amp;, Hlahla St, Atteridgeville, P...",Pretoria,[' 0006'],Lucas
4,"56 Totius St, Groenkloof, Pretoria, 0181, Sout...",Pretoria,[' 0181'],Harlequins

In [189]:
#deleting columns 
df = df.drop('Postal Code', axis=1)
df = df.drop('Name', axis=1)

In [190]:
df['Business Type'] = 'Stadiums and Arenas'
df.head()

,ATM Address,Town,Business Type
0,"26 Lynnwood Rd, Arcadia, Pretoria, 0007, South...",Pretoria,Stadiums and Arenas
1,"471 Grosvenor St, Hatfield, Pretoria, 0028, So...",Pretoria,Stadiums and Arenas
2,"130 Maltzan St, Pretoria West, Pretoria, 0001,...",Pretoria,Stadiums and Arenas
3,"Cnr Maunde &amp;, Hlahla St, Atteridgeville, P...",Pretoria,Stadiums and Arenas
4,"56 Totius St, Groenkloof, Pretoria, 0181, Sout...",Pretoria,Stadiums and Arenas

In [191]:
# remove square brackets, commas, single quotes, and numbers from 'Town'
df['Town'] = df['Town'].str.replace('[', '', regex=False).str.replace(']', '', regex=False).str.replace(',', '', regex=False).str.replace("'", '', regex=False).str.replace('\d+', '', regex=True)

In [192]:
df

,ATM Address,Town,Business Type
0,"26 Lynnwood Rd, Arcadia, Pretoria, 0007, South...",Pretoria,Stadiums and Arenas
1,"471 Grosvenor St, Hatfield, Pretoria, 0028, So...",Pretoria,Stadiums and Arenas
2,"130 Maltzan St, Pretoria West, Pretoria, 0001,...",Pretoria,Stadiums and Arenas
3,"Cnr Maunde &amp;, Hlahla St, Atteridgeville, P...",Pretoria,Stadiums and Arenas
4,"56 Totius St, Groenkloof, Pretoria, 0181, Sout...",Pretoria,Stadiums and Arenas
...,...,...,...
665,"Witpoort (Beaulieu), Midrand, 1684, South Africa",Midrand,Stadiums and Arenas
666,"Witpoort (Beaulieu), Midrand, 1684, South Africa",Midrand,Stadiums and Arenas
667,"Witpoort (Beaulieu), Midrand, 1684, South Africa",Midrand,Stadiums and Arenas
668,"In Customer Care, Vodacom Blvd Shop 11, TechCa...",Midrand,Stadiums and Arenas
669,"S Park Ln, New Doornfontein, Johannesburg, 209...",Johannesburg,Stadiums and Arenas

In [193]:
# replace values in the 'Town' column
df['Town'] = df['Town'].replace({'Johannesburg ': 'Johannesburg', ' Johannesburg': 'Johannesburg', ' Johannesburg South': 'Johannesburg', ' Johannnesburg': 'Johannesburg', ' Johannesburg ': 'Johannesburg', 'Roodepoort':'Roodepoort',' Roodepoort':'Roodepoort' })
df['Town'] = df['Town'].replace({' Leeuwpoort -Ir': 'Leeuwpoort', 'Soweto': 'Soweto', ' Soweto': 'Soweto', 'Paardeplaats  IQ': 'Paardeplaats', 'Heidelberg - GP': 'Heidelberg', 'Syferfontein -Ir': 'Syferfontein', 'GERMISTON': 'Germiston','BENONI': 'Benoni', ' Benoni':'Benoni'})
df['Town'] = df['Town'].replace({' Meadowlands ': 'Meadowlands', ' Meadowlands East': 'Meadowlands', ' Meadowlands West': 'Meadowlands'})

In [194]:
# replace values in the 'Town' column
df['Town'] = df['Town'].replace({
    'Johannesburg ': 'Johannesburg',
    ' Johannesburg': 'Johannesburg',
    ' Johannesburg South': 'Johannesburg',
    ' Johannnesburg': 'Johannesburg',
    ' Johannesburg ': 'Johannesburg',
    'Roodepoort': 'Roodepoort',
    ' Roodepoort': 'Roodepoort',
    ' Leeuwpoort -Ir': 'Leeuwpoort',
    ' Leeuwpoort-Ir': 'Leeuwpoort',
    'Soweto': 'Soweto',
    ' Soweto': 'Soweto',
    'Paardeplaats  IQ': 'Paardeplaats',
    'Heidelberg - GP': 'Heidelberg',
    'Heidelberg-GP': 'Heidelberg',
    'Syferfontein -Ir': 'Syferfontein',
    'Syferfontein-Ir': 'Syferfontein',
    'GERMISTON': 'Germiston',
    'BENONI': 'Benoni',
    ' Benoni': 'Benoni',
    ' Meadowlands ': 'Meadowlands',
    ' Meadowlands East': 'Meadowlands',
    ' Meadowlands West': 'Meadowlands'
})

In [195]:
unique_towns = df['Town'].unique()
print(unique_towns)

['Pretoria' 'Johannesburg' 'Randfontein' 'Soweto' 'Roodepoort' 'Randburg'
 'Centurion' 'Sandton' 'Edenvale' ' Centurion' ' Pretoria' ' Sandton'
 ' Tembisa' ' Edenvale' ' Randburg' ' Midrand' ' Katlehong' ' Germiston'
 'Wolfelea AH' ' Dawnview' ' Kudube' ' South Africa' ' Alberton'
 ' Fourways' '' 'Orange Farm' 'Vanderbijlpark' ' Boksburg' ' Vosloorus'
 ' Brakpan' 'Benoni' 'Meadowlands' 'Lenasia' ' Krugersdorp' ' Alexandra'
 'Diepsloot' ' Heidelberg - GP' ' Syferfontein -Ir' ' Bapsfontein'
 'Leeuwpoort' ' Vanderbijlpark' ' Sasolburg' ' Vereeniging'
 ' Kempton Park' ' BENONI' ' Lenasia' ' Ennerdale' ' Randfontein'
 'Paardeplaats' ' Witpoortje  IQ' 'Doornfointein' ' Parys' ' Springs'
 ' Driefontein -Ir' ' GERMISTON' ' Carletonville' 'Vereeniging'
 ' Potchefstroom' 'N']

# function to extract town from address
def extract_town(ATM_Address):
    towns = ['Pretoria', 'Johannesburg', 'Randfontein', 'Soweto', 'Roodepoort', 'Randburg',
             'Centurion', 'Sandton', 'Edenvale', ' Centurion', ' Pretoria', ' Sandton',
             ' Tembisa', ' Edenvale', ' Randburg', ' Midrand', ' Katlehong', ' Germiston',
             'Wolfelea AH', ' Dawnview', ' Kudube', ' Alberton',
             ' Fourways', '', 'Orange Farm', 'Vanderbijlpark', ' Boksburg', ' Vosloorus',
             ' Brakpan', 'Benoni', 'Meadowlands', 'Lenasia', ' Krugersdorp', ' Alexandra',
             'Diepsloot', ' Heidelberg ', ' Syferfontein', ' Bapsfontein',
             'Leeuwpoort', ' Vanderbijlpark', ' Sasolburg', ' Vereeniging',
             ' Kempton Park', ' BENONI', ' Lenasia', ' Ennerdale', ' Randfontein',
             'Paardeplaats', ' Witpoortje  ', 'Doornfointein', ' Parys', ' Springs',
             ' Driefontein ', ' Carletonville', 'Vereeniging',
             ' Potchefstroom'] # list of all possible towns
    for town in towns:
        if town in ATM_Address:
            return town
    return ''

# apply function to 'ATM Address' column to extract town
df['Town'] = df['ATM Address'].apply(extract_town)

In [196]:
import re

# function to extract town from address
def extract_town(ATM_Address):
    towns = ['Pretoria', 'Johannesburg', 'Randfontein', 'Soweto', 'Roodepoort', 'Randburg',
             'Centurion', 'Sandton', 'Edenvale', 'Tembisa', 'Midrand', 'Katlehong', 'Germiston', 'Wolfelea ', 'Dawnview', 'Kudube', 'Alberton',
             'Fourways', 'Orange Farm', 'Vanderbijlpark', 'Boksburg', 'Vosloorus', 'Brakpan', 'Benoni', 'Meadowlands', 'Lenasia', 'Krugersdorp', 'Alexandra',
             'Diepsloot', 'Heidelberg ', 'Syferfontein ', 'Bapsfontein', 'Leeuwpoort', 'Sasolburg', 'Vereeniging', 'Kempton Park', 'Ennerdale', 'Randfontein',
             'Paardeplaats', 'Witpoortje  ', 'Doornfointein', 'Parys', 'Springs', 'Driefontein ', 'Carletonville', 'Potchefstroom', ] 

    # iterate over towns list and try to match with ATM_Address using regular expressions
    for town in towns:
        if re.search(r'\b{}\b'.format(town), ATM_Address, re.IGNORECASE):
            return town
    # if no exact match, split both the address and towns into words and check for match
    address_words = ATM_Address.split()
    for word in address_words:
        for town in towns:
            if word.lower() in town.lower():
                return town
    return ''

# apply function to 'ATM Address' column to extract town
df['Town'] = df['ATM Address'].apply(extract_town)

In [197]:
df[df['Town'] == '']

,ATM Address,Town,Business Type
106,"Klip Rivier Drive, Three Rivers",,Stadiums and Arenas
115,"Mavuso St, Duduza, Johannnesburg, 1496, South ...",,Stadiums and Arenas
118,Delville Noordweg,,Stadiums and Arenas
120,"Mavuso St, Duduza, Johannnesburg, 1496, South ...",,Stadiums and Arenas
138,"Hendrik Alberts Rd, Thaba Tswane",,Stadiums and Arenas
...,...,...,...
585,Citra 2,,Stadiums and Arenas
599,"211 Mzilikatse Street, Mofolo Central",,Stadiums and Arenas
621,3137 Diokane Street,,Stadiums and Arenas
624,Chris Hani Rd. Klipspruit,,Stadiums and Arenas
641,"Mavuso St, Duduza, Johannnesburg, 1496, South ...",,Stadiums and Arenas

In [198]:
# replace empty rows with "unknown" in the 'Town' column
df['Town'].replace('', 'unknown', inplace=True)

# delete rows with "unknown" in the 'Town' column
# dd = df.drop(df[df['Town'] == 'unknown'].index, inplace=True)
new_df = df[df.Town != 'unknown']

In [199]:
print(new_df)

                                           ATM Address          Town  \
0    26 Lynnwood Rd, Arcadia, Pretoria, 0007, South...      Pretoria
1    471 Grosvenor St, Hatfield, Pretoria, 0028, So...      Pretoria
2    130 Maltzan St, Pretoria West, Pretoria, 0001,...      Pretoria
3    Cnr Maunde &amp;, Hlahla St, Atteridgeville, P...      Pretoria
4    56 Totius St, Groenkloof, Pretoria, 0181, Sout...      Pretoria
..                                                 ...           ...
665   Witpoort (Beaulieu), Midrand, 1684, South Africa       Midrand
666   Witpoort (Beaulieu), Midrand, 1684, South Africa       Midrand
667   Witpoort (Beaulieu), Midrand, 1684, South Africa       Midrand
668  In Customer Care, Vodacom Blvd Shop 11, TechCa...       Midrand
669  S Park Ln, New Doornfontein, Johannesburg, 209...  Johannesburg

           Business Type
0    Stadiums and Arenas
1    Stadiums and Arenas
2    Stadiums and Arenas
3    Stadiums and Arenas
4    Stadiums and Arenas
..                   ...
665  Stadiums and Arenas
666  Stadiums and Arenas
667  Stadiums and Arenas
668  Stadiums and Arenas
669  Stadiums and Arenas

[599 rows x 3 columns]

In [200]:
new_df.to_csv('StadiumData.csv', index=False)

In [201]:
print('File saved to "NewStadium_Arenas.csv"')

File saved to "NewStadium_Arenas.csv"

In [202]:
df1 = pd.read_csv('StadiumData.csv')

In [206]:
unique_townsNow = df1['Town'].unique()
print(unique_townsNow)

['Pretoria' 'Johannesburg' 'Soweto' 'Roodepoort' 'Centurion' 'Tembisa'
 'Germiston' 'Wolfelea ' 'Dawnview' 'Kudube' 'Alberton' 'Fourways'
 'Orange Farm' 'Vanderbijlpark' 'Boksburg' 'Vosloorus' 'Brakpan' 'Benoni'
 'Meadowlands' 'Lenasia' 'Krugersdorp' 'Alexandra' 'Diepsloot' 'Midrand'
 'Ennerdale' 'Bapsfontein' 'Sasolburg' 'Vereeniging' 'Kempton Park'
 'Potchefstroom' 'Parys' 'Springs' 'Carletonville']

In [222]:
df1['Town'] = df1['Town'].replace({'Randfontein': 'Johannesburg','Fourways': 'Johannesburg', 'Randburg': 'Johannesburg', 'Sandton': 'Johannesburg', 'Katlehong': 'Johannesburg', 'Edenvale': 'Johannesburg','Alexandra': 'Johannesburg'})
df1['Town'] = df1['Town'].replace({'Tembisa': 'Midrand'})
df1['Town'] = df1['Town'].replace({ 'Orange Farm':'Soweto', 'Meadowlands': 'Soweto','Lenasia':'Soweto','Ennerdale':'Soweto','Potchefstroom':'Soweto'})
df1['Town'] = df1['Town'].replace({'Kempton Park': 'Benoni','Sasolburg': 'Benoni','Germiston': 'Benoni','Bapsfontein' : 'Benoni', 'Alberton': 'Benoni',  'Vosloorus': 'Benoni', 'Boksburg': 'Benoni','Dawnview': 'Benoni'})
df1['Town'] = df1['Town'].replace({'Wolfelea ': 'Krugersdorp'})
df1['Town'] = df1['Town'].replace({'Kudube': 'Pretoria'})
df1['Town'] = df1['Town'].replace({'Parys': 'Vanderbijlpark'})

In [223]:
unique_townsNow = df1['Town'].unique()
print(unique_townsNow)

['Pretoria' 'Johannesburg' 'Soweto' 'Roodepoort' 'Centurion' 'Midrand'
 'Benoni' 'Krugersdorp' 'Vanderbijlpark' 'Brakpan' 'Diepsloot'
 'Vereeniging' 'Springs' 'Carletonville']

In [224]:
df1.to_csv('FinalStadiumData.csv', index=False)